@mixin verticalCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@mixin frostedGlassTeal {
    --text-color: #fff;
    --border-color: #fff;
    --bg-board-color: hsl(0,0%,100%,0.12);
    --bg-board-color-2: hsl(0,0%,100%,0);
    position: relative;
    -webkit-backdrop-filter: blur(calc(var(--blur-size) * (-1 * var(--is-scrolling, 0) + 1)));
    backdrop-filter: blur(calc(var(--blur-size) * (-1 * var(--is-scrolling, 0) + 1)));
    color: var(--text-color);
    background: linear-gradient(162deg,var(--bg-board-color) 28.7%,var(--bg-board-color-2,var(--bg-board-color)));
}